language: ruby
cache: bundler
dist: trusty
os:
- linux
rvm:
  - 2.1
  - 2.2
  - 2.3
  - 2.4.0
  - ruby-head
branches:
  only:
    - master
matrix:
  allow_failures:
    - rvm: ruby-head
before_install:
  - uname -a
  - gem update --system
  - gem install bundler
  - gem --version
